$margin-sides: 90px;

#container {
  margin-top: 50px;
  margin-left: $margin-sides;
  margin-right: $margin-sides;
}

#last-change {
  margin-top: 50px;
}

#commits {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
